.footer {
    &__nav-item {
        @include transitionPreviousProps(
            $transition: .2s,
            $backgroundColor: black,
            $color: $gray-dim,
            $opacity: 1,
            $listStyle: none
        );

        &:hover {
            @include transitionDoneProps(
                $backgroundColor: black,
                $color: $green-primary,
                $transform: translateX(1rem),
                $listStyle: square
            );
        }

        a {
            color: inherit;
        }
    }
}