@use './variables' as v;
@use './mixins' as m;

:root {
    @each $position in v.$positions {
        .position-#{$position} {
            position: $position;
        }
    }
    @each $widthType, $widthValue in v.$width {
        .w-#{$widthType} {
            width: $widthValue;
        }
    }
    @each $heightType, $heightValue in v.$height {
        .h-#{$heightType} {
            height: $heightValue;
        }
    }
    @each $iconType, $iconSize in v.$icon-size {
        .icon-#{$iconType} {
            width: $iconSize;
            height: auto;
        }
    }
    @each $flexGrowType, $flexGrowValue in v.$flex-grow {
        .flex-grow-#{$flexGrowType} {
            flex-grow: $flexGrowValue;
        }
    }
    @each $paddingType, $paddingValue in v.$padding {
        .p-#{$paddingType} {
            padding: 0 $paddingValue;
        }
    }
    @each $fontSizeType, $fontSizeValue in v.$font-size {
        .fs-#{$fontSizeType} {
            font-size: $fontSizeValue;
        }
    }
    @each $color in v.$colors {
        .text-#{$color} {
            color: $color !important;
        }
    }
    @each $bg in v.$background-colors {
        .bg-#{$bg} {
            background-color: $bg !important;
        }
    }
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.icon {
    // NAVBAR
    @extend .icon-1;
    
    &--nav {
        @extend .icon-1;
    }
    &--cart-nav {
        @extend .icon-small-img;
    }
    &--cart-dd {
        @extend .icon-point-5;
    }

    // PRODUCT CARD
    &--product-card {
        @extend .icon-4;
        padding: .7rem;
        border: 2px solid lightgray;
        border-radius: 10px;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background-color: olivedrab;
        }
    }

    // COMPANY INTRO
    &--med { @extend .icon-2; }
}