mixin companyIntroHeader(field)
    h5.text-center.mb-2.m-md-0.fs-6= field
    .w-100.d-flex.justify-content-center
        img.w-75.line-breaker.m-auto(src=`${pagesAssetSrc}/icons/breaker-long.svg`, alt="Breaker")