-   const HOMEPAGE = '/src/homepage.html'
-   const PRODUCTS = '/src/products.html'
-   const PRODUCT_DETAILS = '/src/product-details.html'
-   const BLOGS = '/src/blogs.html'
-   const BLOG_DETAILS = '/src/blog-details.html'
-   const CONTACT_US = '/src/contact-us.html'
-   const ABOUT_US = '/src/about-us.html'
-   const SIGN_UP = '/src/sign-up.html'
-   const SIGN_IN = '/src/sign-in.html'
-   const CART = '/src/cart.html'
-   const NOT_FOUND = '/src/not-found.html'

