-   
    const products = [
        {
            id: 1,  
            producer: 'TYFFANY', 
            shortName: 'Mỹ phẩm châu Âu', 
            longName: 'Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới',
            description: 'Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.',
            price: '355.000', 
            rating: 5, 
            sold: 4,
            colors: ['Bạc', 'Vàng', 'Xanh'],
            sizes: [12, 13, 14, 15],
            likes: [{'facebook': 0}, {'tweeter': 0}, {'google': 0}]
        },
        {
            id: 2, 
            producer: 'OHUI', 
            shortName: 'Mỹ phẩm châu Âu', 
            longName: 'Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới', 
            description: 'Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.',
            price: '355.000', 
            rating: 5, 
            sold: 4,
            colors: ['Bạc', 'Vàng', 'Xanh'],
            sizes: [12, 13, 14, 15],
            likes: [{'facebook': 0}, {'tweeter': 0}, {'google': 0}]
        },
        {
            id: 3,  
            producer: 'HOME', 
            shortName: 'Mỹ phẩm châu Âu', 
            longName: 'Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới', 
            description: 'Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.',
            originalPrice: '450.000',
            price: '355.000', 
            rating: 5, 
            sold: 4, 
            colors: ['Bạc', 'Vàng', 'Xanh'],
            sizes: [12, 13, 14, 15],
            likes: [{'facebook': 0}, {'tweeter': 0}, {'google': 0}]
        },
        {
            id: 4,  
            producer: 'DEBORA', 
            shortName: 'Mỹ phẩm châu Âu', 
            longName: 'Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới', 
            description: 'Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.',
            price: '355.000', 
            rating: 5, 
            sold: 4,
            colors: ['Bạc', 'Vàng', 'Xanh'],
            sizes: [12, 13, 14, 15],
            likes: [{'facebook': 0}, {'tweeter': 0}, {'google': 0}]
        },
        {
            id: 5, 
            producer: 'SARVON', 
            shortName: 'Mỹ phẩm châu Âu', 
            longName: 'Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới',
            description: 'Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.',
            price: '355.000', 
            rating: 5, 
            sold: 4,
            colors: ['Bạc', 'Vàng', 'Xanh'],
            sizes: [12, 13, 14, 15],
            likes: [{'facebook': 0}, {'tweeter': 0}, {'google': 0}]
        },
        {
            id: 6,  
            producer: 'TYFFANY', 
            shortName: 'Mỹ phẩm châu Âu', 
            longName: 'Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới', 
            description: 'Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.',
            price: '355.000',
            rating: 5, 
            sold: 4,
            colors: ['Bạc', 'Vàng', 'Xanh'],
            sizes: [12, 13, 14, 15],
            likes: [{'facebook': 0}, {'tweeter': 0}, {'google': 0}]
        }
    ]